.DS_Store
._.DS_Store
.cache_ggshield
.env
*.swp
__pycache__/

Logs/

Testing/

Telegram/token.txt
Telegram/users*.txt
Telegram/sandbox

Weather/key.txt

Canvas/users.txt

News/key.txt

NASA/key.txt
NASA/last-updated
NASA/nasa-pod

